@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.breadcrumb {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        @include font-size($font-small);
        display: flex;
        align-items: center;

        &:first-child {
            svg {
                display: none;
            }
        }

        a {
            @include font-size($font-small);
            color: $starfleet-blue;
            text-decoration: none;
        }
    }

    span, a {
        svg {
            stroke: $light-black;
            height: 20px;
            width: 20px;
        }
    }

    .active {
        color: $primary;
    }
}