.breadcrumb {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        a {
            @include font-size($font-small);
            color: $saffron;
            text-decoration: none;
        }
    }
}