.vc-pane-layout {

    @include media-breakpoint-up(md) {
        display: flex;
    }
}

.vc-container {

    @include media-breakpoint-up(md) {
        padding: 0 30px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 12px;
        border: none;
    }
}

.vc-light {
    --vc-border: #c9c9c9 !important;
    --vc-color: #312783 !important;
    --vc-nav-item-current-color: #312783 !important;
    --vc-time-day-color: #312783 !important;
    --vc-bg: #ededed !important;
    --vc-font-family: 'Open Sans', sans-serif;
    --vc-nav-item-active-bg: #312783 !important;

    @include media-breakpoint-down(md) {
        --vc-border: #ddd !important;
        box-shadow: none;
    }

    & .vc-attr {
        --vc-highlight-solid-bg: #312783 !important;
        --vc-highlight-light-bg: #c9c9c9;
    }


    .start-date {
        background-color: $secondary !important;
        border-radius: 6px 0px 0px 6px !important; 
    }

    .vc-highlight-bg-outline {
        border-color: #312783;
        background-color: #312783;
        color: $white;
        border-radius: 0px !important;
    }

    .vc-highlight-content-outline {
        color: #fff;
    }

    .vc-header {

        .vc-title {
            background-color: transparent !important;
            text-align: center;
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
        }
    }

    .vc-weekday {
        @include font-size($font-small);
        font-weight: $font-weight--bold;
        color: $secondary;
    }

    .vc-day-content {
        width: 36px;
        height: 24px;
        font-weight: $font-weight--regular;
        @include font-size($font-small);
    }

    .vc-arrow {
        color: $primary;
    }

    .end-date {
        background-color: $secondary !important;
        border-radius: 0 6px 6px 0px !important;   
    }

    .vc-highlight {
        border-radius: 6pxpx !important;
        width: 36px;
        height: 24px;
    }

    .is-today {
        .vc-highlight {
            background-color: rgba(49, 39, 131, .6) !important;
        }
    }
}