@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";


.form-control, .form-select {
    border: 2px solid $mandrake;
    border-radius: 10px;
    height: 40px;
    color: $mandrake;
    padding-left: 4px;
    background-color: transparent;
}

.form-label {
    color: $mandrake;
    @include font-size($font-small);
    margin-bottom: 4px;
}