@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";


.form-control,
.form-select {
    border: 2px solid $mandrake;
    border-radius: 10px;
    height: 40px;
    color: $mandrake;
    padding-left: 4px;
    background-color: transparent;
}

.form-label {
    color: $mandrake;
    @include font-size($font-small);
    margin-bottom: 4px;
}

.form-check-label {
    color: $secondary;
    @include font-size($font-small);
}

.form-switch {
    .form-check-input {
        width: 3em;
        height: 1.5em;

        &::before {
            width: 1.5em;
            height: 1.5em;
            background-color: $white;
            transform: translateX(1.5em);
        }

        &:checked {
            background-size: 1.5em 1.5em;
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
        }
    }
}

.form-select {
    background-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 448 512" style="enable-background:new 0 0 448 512;" xml:space="preserve"><style type="text/css">.st0{fill:%23FF9933;}</style><path class="st0" d="M207,381.5L12.7,187.1c-9.4-9.4-9.4-24.6,0-33.9l22.7-22.7c9.4-9.4,24.5-9.4,33.9,0l154.7,154l154.7-154 c9.4-9.3,24.5-9.3,33.9,0l22.7,22.7c9.4,9.4,9.4,24.6,0,33.9L241,381.5C231.6,390.8,216.4,390.8,207,381.5L207,381.5z"/></svg>');
}