@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.footer {
    background-color: rgba(0, 0, 0, .8);
    padding: 30px 0;

    &__company-details {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }

        img {
            width: 120px;
        }

        p {
            color: #BDBDBD;
            @include font-size($font-small);
            text-align: center;
        }
    }

    &__copyright {

        > a {
            text-align: center;
            display: block;
            color: #BDBDBD;
            text-decoration: none;
            @include font-size($font-small);

            img {
                margin-left: 8px;
            }
        }

        p {
            text-align: center;
            color: #BDBDBD;
            @include font-size($font-small);
        }
    }
}