@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.navbar {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding:  0;

    @include media-breakpoint-down(md) {
        padding: 12px 0px;
    }


    &__logo {
        img {
            max-height: 74px;
        }
    }
}
