@import "./_base/typography";
@import "./_base/variables";
@import "./_base/reset";
@import "bootstrap/scss/bootstrap";

body {
  font-family: $font-family--primary;
}

.required {
  color: $error;
  margin-left: 4px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.preloader {
  background-color: rgba(22, 93, 127, 0.97);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999999;

  &__image {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../public/parkeren-harlingen_logo.png');
  }
}

.btn-secondary {
    background: $secondary !important;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    @include font-size($font-regular);
    padding: 12px 42px;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    border: none;

    &:hover {
      &:before {
        transform: scaleX(1);  
      }
    }

    &:before {
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;      
      position: absolute;
      background: #221b5d;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      border-radius: 8px;
  }
}


.btn {
  &-primary,
  &-secondary,
  &-outline-secondary {
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    @include font-size($font-regular);
    padding: 12px 42px;
  }
}

