@import "./_base/typography";
@import "./_base/variables";
@import "./_base/reset";
@import "bootstrap/scss/bootstrap";

body {
  font-family: $font-family--primary;
}

.required {
  color: $error;
  margin-left: 4px;
}

.container {
  max-width: 1000px;
  padding: 20px 150px;

  @include media-breakpoint-down(md) {
      padding: 20px 15px;
  }
}


.btn-secondary {
    background: $secondary !important;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    @include font-size($font-regular);
    padding: 12px 42px;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    border: none;

    &:hover {
      &:before {
        transform: scaleX(1);  
      }
    }

    &:before {
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;      
      position: absolute;
      background: #221b5d;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      border-radius: 8px;
  }
}


.btn {
  &-primary,
  &-secondary,
  &-outline-secondary {
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    @include font-size($font-regular);
    padding: 12px 42px;
  }
}

