@import "./_base/typography";
@import "./_base/variables";
@import "bootstrap/scss/bootstrap";

body {
  font-family: $font-family--primary;
}


.btn-primary {
  color: #ededed;
    background: #c9c9c9 !important;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    @include font-size($font-regular);
    border-color: #c9c9c9 ;
    padding: 8px 42px;
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: .3s;

    &:hover {
      border-color: #F93;
      &:before {
        transform: scaleX(1);  
      }
    }

    &:before {
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;      
      position: absolute;
      background: #F93;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      border-radius: 8px;
  }
}
