@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";


.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100vh;

    h1 {
        @include font-size($font-xxxx-large);
        color: $secondary;
        font-weight: $font-weight--bold;
        margin-bottom: 0;
    }

    p {
        color: $secondary;
    }
}