@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../_elements/_breadcrumb";
@import "../_elements/_progress-steps";

.container {

    @include media-breakpoint-up(lg) {
        padding-left: 0;
        padding-right: 0;
    }
}

.reservation-form {
    &__main-content {
        padding: 20px 0 35px;
    }

    &__banner {
        background-image: url("../../../public/harlingen-drone.jpg");
        width: 100%;
        height: 300px;
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__details {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 25px 24px;
        border-left: 5px solid $starfleet-blue;
        margin-top: 110px;
        max-width: 305px;

        h3 {
            color: $black;
            @include font-size($font-xxx-big);
            font-weight: $font-weight--bold;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        aside {
            flex: 0 0 calc(50% - 10px);
            display: grid;
            gap: 20px;

            @include media-breakpoint-down(lg) {
                flex: 0 0 100%;
            }
        }

        article {
            flex: 0 0 calc(50% - 10px);

            @include media-breakpoint-down(lg) {
                flex: 0 0 100%;
            }

        }
    }

    &__card {
        background-color: $white-edgar;
        border-radius: 12px;
        padding: 25px;

        h4 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
            margin-bottom: 16px;
            text-align: center;
        }

        p {
            color: $mandrake;
            @include font-size($font-small);
        }
    }

    &__switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__summary-header {
        margin-bottom: 32px;

        > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            p {
                @include font-size($font-small);
                color: $mandrake;
                margin-bottom: 0;
            }
        }
    }

    &__summary-details {
        h5 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
        }

        p {
            color: $mandrake;
            @include font-size($font-small);
            margin-bottom: 0;
        }

        header {
            display: grid;
            gap: 30px;
            grid-template-columns: 1.5fr 1fr 0.5fr 1fr;
            border-bottom: 2px solid $white;
            padding-bottom: 20px;

            @include media-breakpoint-down(md) {
                gap: 8px;
                grid-template-columns: 1.5fr 1fr 1fr 1fr;

            }

            h5 {
                margin-bottom: 0;

                &:nth-of-type(4) {
                    text-align: right;
                }
            }
        }

        article {
            > div {
                display: grid;
                padding: 20px 0;
                gap: 30px;

                grid-template-columns: 1.5fr 1fr 0.5fr 1fr;

                @include media-breakpoint-down(md) {
                    gap: 8px;
                    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    
                }
                p {
                    &:nth-of-type(2) {
                        text-align: center;
                    }

                    &:nth-of-type(3) {
                        text-align: right;
                    }
                }
            }
        }

        > div {
            display: flex;
            justify-content: space-between;
            padding: 15px 24px;
            border-radius: 12px;
            background-color: $white;

            h5 {
                font-weight: $font-weight--bold;
                color: $secondary;
                @include font-size($font-small);
                margin-bottom: 0;
            }

            h6 {
                color: $secondary;
                @include font-size($font-small);
                margin-bottom: 0;
            }
        }
    }

    &__content-fields {
        fieldset {
            display: flex;
            flex-direction: column;
            gap: 24px;

            textarea {
                height: auto;
            }

            small {
                color: $primary;
                display: block;
                margin-bottom: 8px;
            }
        }
    }

    &__double-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        gap: 16px;
        p {
            margin-bottom: 0;
        }

        > div {
            display: flex;
            gap: 8px;
        }
    }

    &__single-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        gap: 16px;
        > div {
            width: 245px;

            @include media-breakpoint-down(md) {
                width: 50%;
            }
        }
        p {
            margin-bottom: 0;
        }
    }

    &__terms-and-conditions {
        margin-top: 32px;
        padding: 0 16px;

        p {
            @include font-size($font-small);
            color: $mandrake;
            margin-bottom: 20px;  
        }

        button {
            color: $secondary;
            font-weight: $font-weight--bold;
            @include font-size($font-medium);
            padding: 0;
            text-decoration: none;
        }

        > div {
            margin-top: 36px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 36px;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            align-items: flex-end;
            margin-top: 0;
            justify-content: space-between;
        }

        > div {
            @include media-breakpoint-down(md) {
                width: 100%;
                display: flex;
                justify-content: center;
                order: -1;
                margin: 32px 0;
            }
        }

        button,
        a {
            @include media-breakpoint-down(md) {
                height: 52px;
                padding: 15px 20px !important;
                @include font-size($font-small);
            }
        }
    }
}
