@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../_elements/_custom-datepicker";
@import "../_elements/_breadcrumb";


.reserve-page {
    &__banner {
        background-image: url("../../../public/harlingen-drone.jpg");
        width: 100%;
        height: 300px;
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__details {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 25px 24px;
        border-left: 5px solid $starfleet-blue;
        margin-top: 110px;
        max-width: 305px;

        h3 {
            color: $black;
            @include font-size($font-xxx-big);
            font-weight: $font-weight--bold;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
    }

    &__main-content {
        padding: 20px 0;
    }

    &__calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 38px;

        > button {
            margin-top: 32px;
        }

        @include media-breakpoint-down(md) {
            border-radius: 12px;
            background-color: $white-edgar;
            padding: 25px;
        }
    }

    &__date-selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;

        @include media-breakpoint-down(md) {
            margin-bottom: 16px;
        }

        h1 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
            margin-bottom: 16px;

            @include media-breakpoint-down(md) {
                margin-bottom: 0 !important;
            }
        }
    }

    &__date-field {
        display: flex;
        justify-content: center;
        border: 2px solid $white-edgar;
        border-radius: 10px;

        @include media-breakpoint-down(md) {
            display: none;
        }

        > div {
            padding: 8px 32px;
            color: $secondary;
            @include font-size($font-small);

            &:first-of-type {
                border-right: 2px solid $white-edgar;
            }
        }
    }
}
