@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../_elements/_breadcrumb";
@import "../_elements/_progress-steps";

.reservation-confirm {
    &__main-content {
        padding: 20px 0 35px;
    }

    &__banner {
        background-image: url("../../../public/harlingen-drone.jpg");
        width: 100%;
        height: 300px;
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__details {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 25px 24px;
        border-left: 5px solid $starfleet-blue;
        margin-top: 110px;
        max-width: 305px;

        h3 {
            color: $black;
            @include font-size($font-xxx-big);
            font-weight: $font-weight--bold;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
    }

    &__payment-summary {
        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 16px;
        }
    }


    &__thanks {
        text-transform: uppercase;
    }

    &__thanks, &__payment-complete {
        background-color: $white-edgar;
        font-weight: $font-weight--bold;
        color: $secondary;
        padding: 25px;
        margin: 0 auto;
        border-radius: 12px;
    }

    &__payment-complete {
        width: 100%;
        text-align: center;
    }

    &__total-summary {
        background-color: $white-edgar;
        border-radius: 12px;
        padding: 25px;

        h4 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
            margin-bottom: 16px;
            text-align: center;
        }

        p {
            color: $mandrake;
            @include font-size($font-small);
            margin-bottom: 0;
        }

        > div {
            display: flex;
            justify-content: space-between;

            &:nth-last-child(2) {
                border-bottom: none !important;
            }

            &:not(:last-child) {
                padding: 20px 0;
                border-bottom: 2px solid $white;
            }
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        border-radius: 12px;
        background-color: $white;

        h6 {
            font-weight: $font-weight--bold;
            color: $secondary;
            @include font-size($font-small);
            margin-bottom: 0;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        @include media-breakpoint-down(md) {
            margin-top: 0;
        }

        > div {
            margin: 32px 0;
        }

        button,
        a {
            @include media-breakpoint-down(md) {
                height: 52px;
                padding: 15px 20px !important;
                @include font-size($font-small);
            }
        }
    }


    &__warning {
        background-color: rgba(231, 171, 171, 0.3);
        padding: 20px;
        border-radius: 12px;
        color: #a94442;

        h4 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            margin-bottom: 16px;
            color: #a94442;
            text-align: center;
        }

        p {
            color: #a94442;
            margin-bottom: 0;
            @include font-size($font-small);
        }
    }

}