@import "../_base/typography";
@import "../_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "../_elements/_breadcrumb";
@import "../_elements/_progress-steps";


.reservation-form {
    &__main-content {
        padding: 20px 0 35px;
    }

    &__banner {
        background-image: url("../../../public/harlingen-drone.jpg");
        width: 100%;
        height: 300px;
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__details {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 25px 24px;
        border-left: 5px solid $starfleet-blue;
        margin-top: 110px;
        max-width: 305px;

        h3 {
            color: $black;
            @include font-size($font-xxx-big);
            font-weight: $font-weight--bold;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
    }

    &__form {
        display: grid;
        margin-top: 1.5rem;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__card {
        background-color: $white-edgar;
        border-radius: 12px;
        padding: 25px;

        h4 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
            margin-bottom: 16px;
            text-align: center;
        }
    }

    &__summary-header {
        margin-bottom: 32px;

        > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            p {
                @include font-size($font-small);
                color: $mandrake;
                margin-bottom: 0;
            }
        }
    }

    &__summary-details {

        h5 {
            @include font-size($font-small);
            font-weight: $font-weight--bold;
            color: $secondary;
        }

        p {
            color: $mandrake;
            @include font-size($font-small);
             margin-bottom: 0;
        }

        header {
            display: grid;
            gap: 30px;
            grid-template-columns: 1.5fr 1fr .5fr 1fr;
            border-bottom: 2px solid $white;
            padding-bottom: 20px;

            h5 {
                margin-bottom: 0;

                &:nth-of-type(4) {
                    text-align: right;
                }
            }
        }

        article {

            > div {
                display: grid;
                padding: 20px 0;
                gap: 30px;

                grid-template-columns: 1.5fr 1fr .5fr 1fr;

                p {
                    &:nth-of-type(2) {
                        text-align: center;
                    }

                    &:nth-of-type(3) {
                        text-align: right;
                    }
                }
                
            }
        }

        > div {
            display: flex;
            justify-content: space-between;
            padding: 15px 24px;
            border-radius: 12px;
            background-color: $white;

            h5 {
                font-weight: $font-weight--bold;
                color: $secondary;
                @include font-size($font-small);
                margin-bottom: 0;
            }

            h6 {
                color: $secondary;
                @include font-size($font-small);
                margin-bottom: 0;
            }
        }

    }

}